<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">產品列表</h5>
                    <a href="/productList" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">顧客列表</h5>
                    <a href="/customerList" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
